@page
@model GamePickerWeb.Pages.DailyGameModel
@{
}

<h3>Daily Game</h3>
<form class="form-horizontal" method="post">
    <p>
        <div class="form-group">
            <h2><label for="DailyGame" class="col-sm-12 control-label">@Model.DailyPickedGame</label></h2>
        </div>
    </p>
	<div class="form-group">
		<div class="row">
			<div class="col-sm-6">
				<label for="SelectedGames">Create a hat!</label>
			</div>
			<div class="col-sm-6">
				<label for="SelectedHatGames">The Hat</label>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-6">
				<select multiple="multiple" asp-for="SelectedGames" asp-items="@Model.SelectedGamesList" size="20">
				</select>
			</div>
			<div class="col-sm-6">
				<select multiple="multiple" asp-for="SelectedHatGames" asp-items="@Model.HatGamesList" size="Auto">
				</select>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-6">
				<button type="submit" asp-route-param="Submit">Add to the Hat</button>
			</div>
			<div class="col-sm-6">
				<button type="submit" asp-route-param="Submit">Remove from the Hat</button>
			</div>
		</div>
	</div>
</form>